.container {
  max-width: 1205px;
  padding: 0 15px;
  margin: 0 auto;
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  text-decoration: none;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  row-gap: 24px;
}

.gallery-item {
  width: calc((100% - 48px) / 3);
}

.gallery-image {
  width: 360px;
  height: 200px;
  transition-property: width, height;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-image:hover {
  width: 376px;
  height: 208px;
}
